$main-color: #3b3a36;
$base-color: #e9ece5;
$secondary-color: #c0dfd9;
$warning-color: #C73935 ;
$info-color: #3fb0ac;
body {
  background-color: $base-color;
  color: $main-color;
}
.thumbnail {
    padding: 0px 0px 0px 0px;
    display: inline-block
    img {
    min-height:50px; 
    height:100px; 
    }
    .caption {
     padding: 1px;
     height: 20px;
    text-align: center;
    }
}
.page-header {
  background: $main-color;
  color: $base-color;
  padding: 2px 7px;
  margin-top: -10px;
  width: 100%;
  border: 2px solid darken($main-color, 30%);
}
.caption {
    background-color: $secondary-color;
    color: $main-color;
    font-weight: bold;
}
.cat {
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    display: list-item;
}

#notice {
  color: $info-color;
}

.field_with_errors {
  padding: 2px;
  background-color: $warning-color;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $warning-color;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}